

*{
    margin:0px;
    padding:0px;
    font-family: "Lucida", sans-serif;
 
    

  
  }
  
  header{
    background-color: transparent;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
 /*navigation bar*/ 

 
  ul{
    float: right;;
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 50px;
  }
  
  ul li{
    display:inline-block;
    margin-top: 25px;
  }
  
  ul li a{
    text-decoration: none;
    color: White;
    padding: 10px 40px;
    margin-left: 10px;
    margin-right: 10px;

     
  }
  
  ul li a:hover{
    background-color:#fff;
    color: silver;
  }


  /*Your screen size is 1920×1080 pixels (hardware)*/
  .logo img{
    float: left;
    margin-left:15px;
    width:70px;
    height: auto;
  }

  .main{
    max-width: 1500px;
    margin:auto;
  } 
  body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(background/cbbac2dd6f201682ff102be24d3d4249.jpg) !important;
    margin: 0px;
    background: no-repeat center fixed;
    background-size: cover;

  }
  /*.title{
    position:absolute;
    top :50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }*/

   .title{
    position:absolute;
    top :50%;
    left: 10%;
    transform: translate(-50%,-50%);
  }
  

  .title h1{
    color:white;
    font-size:80px;
    border: 2px solid white; 
    padding: 20px;
  }  

  .button{
    margin-top: 40px;
    position:absolute;
    top :60%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .btn{
    border: none;
    padding: 10px 30px;
    color: gray;
    text-decoration:none;
    text-decoration-color:white ;
  }

  .btn:hover{
    background-color:#fff;
    color: silver;
  }

